*{
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(bimg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.navbar {
  width: 100%;
  height: 75px;
  margin: auto;
  justify-content: space-around;
}

.icon {
  width: 200px;
  height: 70px;
  float: left;
}

.logo {
  font-size: 30px;
  color: orangered;
  float: left;
  padding-left: 30px;
  padding-top:30px ;
  font-family: 'Times New Roman';
  white-space: nowrap;
}
.menu {
  justify-content: center;
  width: 400px;
  float: left;
  height: 70px;
}
ul {
float: left;
  display: flex;
  align-items: center;
  justify-content:center;
}

ul li {
  list-style: none;
  margin-left: 30px;
  margin-top: 37px;
  font-size: 14px;
  border: 1px solid orangered;
  padding: 5px 10px;
  width: 80px;
  border-radius: 15px;
  text-align: center;
}
ul li a {

  text-decoration: none;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

ul li:hover{
  background-color:orangered;
  transition: 1s;
}
.search {
  width: 330px;
  float: right;
  margin-left: 300px;
}
.srch {

  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid orangered;
  outline: none;
  margin-top: 35px;
  color: #ffffff;
 border-right: none;
 float: left;
 padding: 10px;
 font-size: 16px;
 border-top-left-radius:20px ;
 border-bottom-left-radius:20px ;

}
.btn {
  
  width: 100px;
  height: 40px;
  background: orangered;
  border: 2px solid rgb(255, 68, 0);
  margin-top: 35px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  }

  .btn:focus{
    outline: none;
  }
  .srch:focus{
    outline: none;
  }
  .content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
  }

  p {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.5px;
    line-height: 30px;
  }

  .content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    margin-bottom: 20px;
  }
  .content span {
    color: orangered;
  }
    .btn2 {
      background-color: orangered;
      color: white;
      font-size: 20px;
      border: none;
      border-radius: 10px;
      padding: 10px 30px;
      cursor: pointer;
      text-decoration: none;
      transition: 0.3s ease;
      display: inline-block;
      margin-left:20px;
    }
    
    .btn2:hover {
      background-color: white;
     color: black;
    }
    .form {

      width: 250px;
      height: 350px;
      background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
      position: absolute;
      top: 300px;
      right: 200px;
      border-radius: 15px;
      padding: 20px;
      border: 2px solid #fff;
    }
    .form h2{
      color:orangered;
      text-align: center;
      font-family: 'Times New Roman';
      font-size: 22px;
      background-color: #fff;
      margin: 2px ;
      padding:8px;
      border-radius: 10px;
    }
    
    .form input {
      width: 240px;
      height: 30px;
      border-bottom: 1px solid orangered;
      border-top: none;
      border-right:none ;
      border-left: none;
      background: transparent;
      outline: none;
      margin-top: 30px;
      color: #fff;
      font-family: sans-serif;
      font-size: 16px;
      letter-spacing: 1px;
    }
    .btn3 {
      width: 240px;
      height: 30px;
      background-color: orangered;
      text-align: center;
      cursor: pointer;
      padding-top: 5px;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      border-radius: 15px;
      display: inline-block;
      margin-bottom: 20px;
    }
    .btn3:hover{
      background-color: #fff;
      color: orangered;
      border: 1px solid orangered;
    }
    .form .d{

      color: #fff;
      margin-top: 20px;
      padding: 0;
      font-size: 15px;
      display: inline;
      letter-spacing: 1px;
    }
    .r {
      text-decoration: none;
      color: orangered;
      font-weight: bold;
      padding: 0;
      font-size: 20px;
    }
    .l {
      color: #fff;
      font-family: 'Times New Roman';
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      border-bottom: 2px solid orangered;
    }
    .icon{
      width: 100%;
      text-align: center;
    }
    .icon a {
      text-decoration: none;
      color: #fff;
    } 
        .icon  .fa-brands {
      font-size: 30px;
      padding-left: 10px;
      padding-top:7px ;
    }
    .icon a:hover {
      color: orangered;
      transition: .3s;
    }

